Makefile
Makefile.in
autom4te.cache
configure
*.o
.deps
*.a
*.exe
convert
hirshfeld
aclocal.m4
depcomp
install-sh
missing
stamp-h1
*.sw?

CMakeCache.txt

cmake_install.cmake

CMakeFiles

install_manifest.txt

_CPack_Packages

CPackConfig.cmake

CPackSourceConfig.cmake

config.h

config.log

config.status
